%h1 UnlockCaptcha

.field Unlock with a captcha action is required to continue a work. \
  Please go the link below and follow on-screen instructions to unlock you account.
.field
  = link_to :unlock_captcha, 'https://www.google.com/accounts/DisplayUnlockCaptcha'
