/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.hidden { display: none !important; }
body span#flasher {
    /*position: absolute;*/
    margin: auto;
}

body > span.flash {
        font-weight: bold;
        display: block;
        position: relative;
        line-height: 21px;
        padding: 10px;
        padding-right: 30px;
}

/*body > span.flash > span { display: block; }*/

span.success, span.notice {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #4e7b22;
    border-bottom: #4e7b22 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3ce68', endColorstr = '#708e4a', GradientType = 0); /* IE6-9 */
}
span.error, span.alert {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #8a252a;
    border-bottom: #8a252a 1px solid;
}

body span#flasher a.close_flash {
        position: absolute;
        top: 15px;
        right: 0;
        cursor: pointer;
}

body #container {
    max-width: 900px;
    padding: 0 15px;
    margin: auto;
}

body #container .mainpanel,
body #container .footer {
    max-width: 900px;
    padding: 0 5px;
}
body #container #internal_container {
    background-color: #eee;
    max-width: 900px;
    /*margin: auto;*/
    max-height: 770px;
    overflow-y: hidden;
    display: block;
}

.albums_sidebar {
    width: 186px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 765px;
    display: inline-block;
    position: relative;
    float: left;
}

.center_pane {
    margin: 0;
    position: inherit;
    max-height: 770px;
    display: inline;
    margin-left: 180px;
}

.photos_sidebar {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 100px;
    /*max-width: 100%;*/
}
.photos_sidebar .photos .thumb img {
    margin-left: 10px;
    max-height: 80px;
    max-width: 80px;
}
.photo_view {
    max-height: 520px;
    display: block;
    margin-left: 10px;
    float: left;
}
.photo_view img {
    max-height: 500px;
    max-width: 700px;
}
.center_pane .comment {
    max-height: 195px;
}
.header#login {
    max-width: 900px;
    background-color: #eef;
    /*padding: 0;*/
    margin: 0;
}

.space {
    height: 1px;
    padding: 1px 1px;
}
.footer#footer {
    float: right;
}

.no_content {
    margin-left: 10px;
}

.comments_view {
    /*float: left;*/
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    min-width: 600px;
    max-width: 700px;
    margin-left: 10px;
}

.comment {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
}
.comment span.author {
    float: left;
}
.comment span.message {
    margin-left: 200px;
}

.add_comment {
    max-height: 50px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.add_comment form .fieldset span.message {
    float: left;
}
.add_comment form .fieldset span.button {
    float: right;
    max-width: 250px;
    min-width: 75px;
    max-height: 50px;
}
.add_comment form .fieldset button {
    float: right;
    max-width: 250px;
    min-width: 75px;
    max-height: 50px;
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    background-color: #eeeeee;
    padding: 4px 10px 3px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #c5c4c4;
    font-weight: bold;
    border-bottom-color: #a7a6a6;
    vertical-align: middle;
    color:#7c7c7c;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    cursor:pointer !important;
    margin-left: auto;
    margin-right: auto;
}
.add_comment form .fieldset button:hover {
    background-color: #eeeeee;
    color:#7c7c7c;
    text-decoration: none;
    border-bottom-color: #b9b9b9;
    opacity:1;
}
.add_comment form textarea {
    max-height: 50px;
    overflow: hidden;
    max-width: 500px;
    min-width: 350px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.albums_sidebar .albums {
    padding: 0px 1px;
}
.albums_sidebar .album:hover {
    border: solid #BBB 1px;
    padding: 0px;
}

span.name {
    font-size: 14px;
}
span.num {
    font-size: 12px;
}

.albums_sidebar .album.selected {
    border: solid #44AA44 2px;
}
.photos_sidebar .photo.selected a.selected img {
    border: solid #116688 2px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body .login, .login input, .login button, .login form {
    /*position: relative;*/
    behavior: url(/javascripts/PIE.htc);
    padding: 15px 20px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

span.h3 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-left: 40%;
    margin-right: auto;
    /*margin-left: 50%;*/
    /*margin-right: 50%;*/
    /*width: 50%;*/
    max-width: 300px;
}

input[type="submit"] {
    /*display: inline-block;*/
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    background-color: #eeeeee;
    padding: 4px 10px 3px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #c5c4c4;
    font-weight: bold;
    border-bottom-color: #a7a6a6;
    vertical-align: middle;
    color:#7c7c7c;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    cursor:pointer !important;
    margin-left: auto;
    margin-right: auto;
}
input[type="submit"]:hover {
    background-color: #eeeeee;
    color:#7c7c7c;
    text-decoration: none;
    border-bottom-color: #b9b9b9;
    opacity:1;
}

form .field {
    margin: 10px 0 15px 0;
    padding: 0;
    font-size: 0;
}

form .field > * {
    font-size: 14px;
}

form .field label {
    color: #7c7c7c;
    margin: 0;
    vertical-align: middle;
    display: inline-block;

    padding: 0 5px;
    min-width: 90px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    line-height: 18px;
    font-weight: bold;
}

form input {
    width: auto;
}
.login form input[type="submit"] { width: 98%; }

.login form {
    width: 350px;
}
.login {
    margin-top: 20%;
}
