/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.hidden { display: none !important; }
body span#flasher {
    /*position: absolute;*/
    margin: auto;
}

body > span.flash {
        font-weight: bold;
        display: block;
        position: relative;
        line-height: 21px;
        padding: 10px;
        padding-right: 30px;
}

/*body > span.flash > span { display: block; }*/

span.success, span.notice {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #4e7b22;
    border-bottom: #4e7b22 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3ce68', endColorstr = '#708e4a', GradientType = 0); /* IE6-9 */
}
span.error, span.alert {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background-color: #8a252a;
    border-bottom: #8a252a 1px solid;
}

body span#flasher a.close_flash {
        position: absolute;
        top: 15px;
        right: 0;
        cursor: pointer;
}

body #container {
    max-width: 900px;
    padding: 0 15px;
    margin: auto;
}

body #container .mainpanel,
body #container .footer {
    max-width: 900px;
    padding: 0 5px;
}
body #container #internal_container {
    background-color: #eee;
    max-width: 900px;
    /*margin: auto;*/
    max-height: 570px;
    overflow-y: hidden;
    display: block;
}

.albums_sidebar {
    width: 180px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 565px;
    display: inline-block;
    position: relative;
    float: left;
}
.albums_sidebar .albums {
    padding: 0px 1px;
}
.albums_sidebar .album:hover {
    border: solid #BBB 1px;
    padding: 0px;
}

.center_pane {
    margin: 0;
    position: inherit;
    max-height: 570px;
    display: inline;
    margin-left: 180px;
}

.photos_sidebar {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 100px;
    /*max-width: 100%;*/
}
.photos_sidebar .photos .thumb img {
    margin-left: 10px;
    max-height: 80px;
    max-width: 80px;
}
.photo_view {
    max-height: 490px;
    display: block;
    margin-left: 10px;
    float: left;
}
.photo_view img {
    max-height: 460px;
    max-width: 700px;
}

.header#login {
    max-width: 900px;
    background-color: #eef;
    /*padding: 0;*/
    margin: 0;
}

span.name {
    font-size: 14px;
}
span.num {
    font-size: 12px;
}
.space {
    height: 1px;
    padding: 1px 1px;
}
.footer#footer {
    float: right;
}

.no_content {
    margin-left: 10px;
}

.comment.facebox {
    float: right;
}